absl-py==0.9.0
aiofile==1.5.2
aiofiles==0.4.0
aiohttp==3.6.2
alembic==0.9.9
appdirs==1.4.3
appnope==0.1.0
argcomplete==1.9.3
astor==0.8.1
async-timeout==3.0.1
attrs==19.3.0
aws==0.2.5
aws2==0.2.2
awscli==1.16.266
backcall==0.1.0
base58==1.0.0
bcrypt==3.1.7
bleach==3.1.4
blinker==1.4
boto==2.49.0
boto3==1.10.26
botocore==1.13.26
cachetools==4.0.0
certifi==2019.9.11
cffi==1.13.2
cfn-flip==1.2.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
crypto==1.4.1
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
dm-tree==0.1.2
docutils==0.15.2
durationpy==0.5
entrypoints==0.3
fabric==2.5.0
ffmpeg==1.4
filelock==3.0.12
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Dance==0.14.0
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-MySQLdb==0.2.0
Flask-OAuth==0.12
Flask-OAuthlib==0.9.4
Flask-SQLAlchemy==2.3.2
Flask-thumbnails==1.0.6
Flask-WTF==0.14.2
fsspec==0.6.0
future==0.16.0
gast==0.2.2
gensim==3.8.1
google-api-core==1.16.0
google-auth==1.12.0
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
h5py==2.10.0
hjson==3.0.1
httplib2==0.11.3
idna==2.8
importlib-metadata==1.5.0
imutils==0.5.3
invoke==1.3.0
ipykernel==5.1.4
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.3
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
kappa==0.6.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lambda-packages==0.20.0
lazy==1.3
Mako==1.0.7
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.0
mistune==0.8.4
mpmath==1.1.0
multidict==4.5.2
mysql==0.0.2
mysql-connector-python==8.0.17
mysqlclient==1.4.4
Naked==0.1.31
nbconvert==5.6.1
nbextensions==0.1.0
nbformat==5.0.4
nbresuse==0.3.3
nltk==3.4.5
notebook==6.0.3
npm==0.1.1
numpy==1.17.4
oauth2==1.9.0.post1
oauthlib==2.0.7
opencv-python==4.1.1.26
opt-einsum==3.2.0
optional-django==0.1.0
pandas==0.25.3
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.1
passlib==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
placebo==0.9.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.8
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.4.3
Pygments==2.4.2
PyNaCl==1.3.0
pyparsing==2.4.6
pyperclip==1.7.0
pyrsistent==0.16.0
python-dateutil==2.6.1
python-editor==1.0.3
python-slugify==1.2.4
pytz==2019.3
PyYAML==5.1.2
pyzmq==19.0.0
requests==2.22.0
requests-oauthlib==0.8.0
rsa==3.4.2
s3fs==0.4.0
s3transfer==0.2.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
shellescape==3.4.1
six==1.13.0
sklearn==0.0
smart-open==1.10.0
SQLAlchemy==1.2.6
SQLAlchemy-Utils==0.33.2
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
tensorflow-privacy==0.2.2
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
toml==0.10.0
torch==1.4.0
tornado==6.0.4
tqdm==4.19.1
traitlets==4.3.3
troposphere==2.5.3
Unidecode==1.1.1
urllib3==1.25.8
URLObject==2.4.3
virtualenv==20.0.13
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
wincertstore==0.2
wrapt==1.12.1
wsgi-request-logger==0.4.6
WTForms==2.1
yarl==1.3.0
zappa==0.48.2
zipp==3.1.0
